language: php
sudo: false
dist: trusty

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm
    - 7.0
    - 7.1
    - 7.2

matrix:
  include:
    - php: "5.3"
      dist: precise
  exclude:
    - php: "7.2"
      env: COMPOSER_ARGS="--prefer-lowest"

env:
  global:
    - COMPOSER_NO_INTERACTION="1"
  matrix:
    - COMPOSER_ARGS=""
    - COMPOSER_ARGS="--prefer-lowest"

before_script:
    - wget http://getcomposer.org/composer.phar
    - bash -c "php composer.phar update $COMPOSER_ARGS"

script:
    - mkdir -p build/logs
    - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
    - vendor/bin/coveralls -v
